# Zugangsdaten — niemals ins Repo
CREDENTIALS.md
*.credentials
*.env
.env*

# Python
__pycache__/
*.pyc
*.pyo

# Lokale Backups
backup/

# Windows
Thumbs.db
Desktop.ini

geonames_data/alternateNamesV2.zip
geonames_data/vg250_12-31.utm32s.gpkg.ebenen/
geonames_data/DE.zip
geonames_data/GV100.zip
geonames_data/vg250.zip
data/geo.sqlite
data/raw/
archive/
docu/
backup/